import React, { FC, memo } from "react";
import classNames from "classnames";

export type {{compName}}Type = "danger" | "link";
interface Base{{compName}}Props {
  className?: string;
  children?: React.ReactNode;
}
export type default{{compName}}Props =Base{{compName}}Props;
/**
 * 页面中最常用的的按钮元素，适合于完成特定的交互
 * ### 引用方法
 *
 * ~~~js
 * import { {{compName}} } from 'stonewise-ui'
 * ~~~
 */
export const {{compName}}: FC<Base{{compName}}Props> = (props) => {
  const {className, children, href, ...restProps } =
    props;
  // btn、btn-lg、btn-primary
  const classes = classNames("{{lowerCase compName}}-wrap", className, {
    [`btn-${btnType}`]: btnType,
  });
  return (
    <div className={classes} {...restProps}>
      {children}
    </div>
  );
};

{{compName}}.defaultProps = {
  className: "",
};

export default memo({{compName}});
